@model BookDetailViewModel
@{
    ViewData["Title"] = "Detail";
}

<div class="card border-dark mt-3 mb-3">
    <div class="card-header">
        <h4 class="card-title">
          รายละเอียด หนังสือ
        </h4>
    </div>
    <div class="card-body">
        <form asp-controller="" asp-action="">

            <div class="row mb-2">
                <label asp-for="Isbn" class="col-sm-2 col-form-label">รหัสหนังสือ : </label>
                <div class="col-sm-4">
                    <input asp-for="Isbn" class="form-control">
                </div>
            </div>

            <div class="row mb-2">
                <label asp-for="TiTle" class="col-sm-2 col-form-label">ชื่อหนังสือ : </label>
                <div class="col-sm-4">
                    <input asp-for="TiTle" type="text" class="form-control"  >
                </div>
            </div>

            <div class="row mb-2">
                <label asp-for="Description" class="col-sm-2 col-form-label">รายละเอียดหนังสือ : </label>
                <div class="col-sm-4">
                    <textarea asp-for="Description" class="form-control" rows="2" ></textarea>
                </div>
            </div>

            <div class="row mb-2">
                <label asp-for="Price" class="col-sm-2 col-form-label">ราคาหนังสือ : </label>
                <div class="col-sm-2">
                    <input asp-for="Price" id="input1" name="input1" class="form-control" >
                </div>
            </div>

        </form>
    </div>
</div>
<div class="card-footer">
        <div>
            <div class="float-right">
                <form asp-controller="Books"
                  asp-action="Delete" asp-route-id="@Model.Isbn">
                    <a class="btn btn-outline-success  btn-sm" asp-controller="Books"
                       asp-action="Index">
                        Index
                    </a>
                    <a class="btn btn-outline-success  btn-sm" asp-controller="Books"
                       asp-action="Edit" asp-route-id="@Model.Isbn">
                        Edit
                    </a>
                    <button type="submit" class="btn btn-outline-success btn-sm"
                        onclick="return confirm('คุณต้องการรายการหนังสือ : @Model.Isbn : @Model.TiTle')">
                    Delete
                    </button>
                </form> 
            </div>
        </div>
</div>
