@model Customer
@{
    ViewData["Title"] = "Create";
}

<div class="card border-dark mt-3 mb-3">
    <div class="card-header">
        <h4 class="card-title">
            รายละเอียด ผู้ขาย
        </h4>
    </div>
    <div class="card-body">
        <form asp-action="Create">

            <div class="row mb-2">
                <label asp-for="CusName" class="col-sm-2 col-form-label">ชื่อ - นามสกุล : </label>
                <div class="col-sm-4">
                    <input asp-for="CusName" type="text" class="form-control">
                </div>
            </div>

            <div class="row mb-2">
                <label asp-for="CusAddress" class="col-sm-2 col-form-label">รายละเอียด : </label>
                <div class="col-sm-4">
                    <textarea asp-for="CusAddress" class="form-control" rows="2"></textarea>
                </div>
            </div>

            <div class="row mb-2">
                <label asp-for="CusEmail" class="col-sm-2 col-form-label">E-mail : </label>
                <div class="col-sm-2">
                    <input asp-for="CusEmail" class="form-control">
                </div>
            </div>

            <div class="row mb-2">
                <label class="col-sm-2 col-form-label">ยืนยันการบันทึก : </label>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-outline-success btn-sm">
                        Save
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="card-footer">
    <div>
        <div class="float-right">
                <a class="btn btn-outline-success  btn-sm" asp-controller="Customers"
                   asp-action="Index">
                    Index
                </a>   
        </div>
    </div>
</div>


